* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd11c;
  border-bottom: 2px solid #000;
  height: 100px;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.client-grid {
  display: flex;
  flex-basis: 90%;
  flex-wrap: wrap;
  justify-content: center;
}

.client-card {
  font-family: 'Roboto Flex', sans-serif;
  border: 2px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  height: auto;
  margin: 5px;
  width: 250px;
  padding: 20px;
  background-color: #ffd11c;
}